.instalaciones{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    
    justify-content: center;
    gap: 4em;
    width: 600px;
    height: 400px;
    margin-left: 400px;
    margin-right: 100px;
    

    
}
.description p{
    font-size: 30px;
    justify-content: center;
}
.instalaciones div{
   justify-content: center;
}
#descrip{
align-self: center;
    margin-left: 25%;
    margin-right: 25%;
    align-content: center;
    text-align: justify;
    font-size: 30px;
    color: rgb(37, 58, 222);
}